body{
    background-color: purple;
}

.yo{
    padding: 50;
    margin: 20;
    background-color: yellow;
    border-radius: 10px;
}

.flex{
    display: flex;
    justify-content: center;
}

.green{
    padding-right: 190;
    background-color: green;
    border-radius: 10px;
}

.inv{
    padding-right: 190;
    background-color: blue;
    border-radius: 10px;
    padding: 50;
    margin: 20;
}

.azul{
    background-color: blue;
    border-radius: 10px;
}

.pink{
    padding-bottom: 190;
    background-color: pink;
    border-radius: 10px;
}

.cima{
    margin-top: 0;
}

.voltar{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}